body{
    padding: 0 auto;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(226, 43%, 10%);
}


.container{
    width: 60%;
    margin: auto;
}

.grid-template{
background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}

.user{
    background-color: blueviolet;
    height: 25rem;
    width: 15rem;
}

.card{
    background-color: aqua;
    height: 12rem;
    width: 15rem;
}

.grid-row-span-2{
    grid-row: span 2;
}

