body{
    padding: 0 auto;
    margin: 0;
    height: 100vh;
    background-color: hsl(226, 43%, 10%);
}

.container{
    margin-right: 15em;
    margin-top: 10em;
    justify-content: center;
}


.grid-template{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  place-items: center;
  max-width: 800px;
  margin: auto;
}

.grid-row-span-2{
    grid-row: span 2;
}

.user{
    background-color: blueviolet;
    height: 28rem;
    width: 15rem;
}

.user-card{
    height: 4em;
    background-color: hsl(236, 100%, 87%);
}


.card{
    background-color: aqua;
    height: 12rem;
    width: 14rem;
    border-radius: 1rem;
}

.card-info{
    background-color: hsl(235, 46%, 20%);
    height: 9em;
    margin-top: 3em;
}

.user img{
    width: 4em;
}

.card-info{
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.card img{
    height: 3em;
    width: 5em;
    display: flex;
    float: right;
}

.title h2{
    margin-bottom: 1em;
    font-size: 1.5em;
}

.title span{
    font-size: 2rem;
}


.previous-hours img{
    width: 2em;
    height: .5em;
}

.previous-hours p{
    margin-top: 4em;
}






/* card background colors  */
.work{
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color: hsl(195, 74%, 62%);
}

.study{
    background-color: hsl(348, 100%, 68%);
}

.exercise{
    background-color: hsl(145, 58%, 55%);
}

.social{
    background-color: hsl(264, 64%, 52%);
}

.selfcare{
    background-color: hsl(43, 84%, 65%);
}





/*  Mobile  */
@media(max-width: 800px){

    .container{
        margin: auto;
    }


    .grid-template{
        margin: 0;
        gap: 2;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .user{
        height: 10em;
        width: 20em;
        margin: 5em;
        border-radius: 1rem;
    }

    .user-card-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .user-card-info{
        flex-direction: column;
        padding: 1em;
    }

    .user-card-info p, h2{
        margin: 0;
    }

    .user-card{
        border-radius: 0 0 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .user-card a{
        text-decoration: none;
        font-size: 1.25rem;
    }

    .card{
        margin-top: 4em;
        height: 8em;
        width: 20em;
    }

    .first-card{
        margin-top: 0;
    }
    
    .first{
        margin-top: 6em;
    }
    
}